<!DOCTYPE html>
<html>
  <head>
    <title>updog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="wrapper">
   <section id="pink">
    <nav class="navbar">
     <a href="http://byzolon.space" target="_blank" class="navbar-brand pull-xs-right">updog</a>
     <img src="./images/logo.png" class=" logo navbar pull-xs-right"/ >
      <div class="navbar helpers">
      </div>
    </nav>
    <div id="search">
     <input type="text" id="form" class= "form-control form-control-lg"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type Something'" placeholder="Type Something" ><br />
    </div>
    <h4 id="meme"></h4>
   </section>

   <section id="white">
    <div class="row">
     <div class="col-sm-12">
      <h1 id="weather"></h1>
      <h1 id="r"></h1>
      <div id="pic">
      </div>
     </div>
    </div>
   </section>

  </div>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/script.js"></script>
  </body>
</html>
