
body {
 font-family: 'Montserrat', serif;
 overflow-x: hidden;
}


.form-control::-webkit-input-placeholder {
 color: white;
 font-size: 40px;
}
h2 {
 color:#EFD2CB;
}


.form-control {
 color: white;
 width: 80%;
 font-size: 40px;
 margin: 10px auto;
 border-top: none;
 border-left: none;
 border-right: none;
 border-radius: 0%;
 background-color: transparent;
 border-color: white;
 border-width: 2px;
}
.form-control:focus {
 border-color: #F6F7F8;
}

#r {
text-align: center;
}

.container-fluid {
 padding: 0;
}


.navbar-brand {
 font-family: 'Montserrat', serif;
 font-size: 50px;
 color: white;
}
.navbar-brand:hover {
 color: #d3d3d3;
}

#pink {
 background-color: #EFD2CB;
 height: 50vh;
}

h1 {
 margin-top: 10%;
 color: #78FFD6;
 text-align: center;
 font-size: 60px;
}
.heboot {
 width: 40%;
 margin: 0 auto;

}
@media screen and (max-width:900px){
.heboot {
 width: 60%;
}
 h1 {
  font-size: 50px;
 }
 .form-control::-webkit-input-placeholder, .form-control::-webkit-input-value {
  color: white;
  font-size: 30px;
 }
}
@media screen and (max-width:700px){
 .heboot {
  width: 100%;
 }
 h1 {
  font-size: 40px;
 }
 .form-control::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
 }
}
